[Unit]
Description=freqcpu - limit CPU frequency

[Install]
WantedBy=multi-user.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/freqcpu -d
KillMode=process
RemainAfterExit=yes
